<h1>Dashboard</h1>

<%- include ("./partials/messages") %>


<button id="reddit-btn">Scrape Reddit!</button>
<button id="drudge-btn">Scrape Drudge!</button>




  <div id="scrape-results"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script> 
<script src="/dashboardClient.js"></script>